<div style="min-width: 320px; background-color: #e8e9eb;">
    <div style="width: 100%; max-width: 600px; min-width: 300px; margin: 0px auto; padding: 93px 0px;">
        <header>
            <img src="" />
        </header>
        <div style="text-align:left font-family: helvetica; font-size: 12pt;">
            <h3>{{nome}},</h3>
            <p>
                <strong>{{codigo}}</strong>.
            </p>
        </div>
        <footer>
            <img src="" />
        </footer>
    </div>
</div>